Import the Libraries

In [ ]:
import tensorflow as tf
print(tf.__version__)

2.8.2

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import nltk
import pandas as pd
import gensim
from gensim.models import Word2Vec,KeyedVectors

Data Preprocessing

In [ ]:
 ! pip install -q kaggle

In [ ]:
 ! mkdir -p ~/.kaggle

In [ ]:
 ! cp kaggle.json ~/.kaggle

In [ ]:
! chmod 600 /root/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download -d rootuser/worldnews-on-reddit

Downloading worldnews-on-reddit.zip to /content
 34% 9.00M/26.6M [00:00<00:00, 57.8MB/s]
100% 26.6M/26.6M [00:00<00:00, 126MB/s]

In [ ]:
! unzip /content/worldnews-on-reddit.zip

Archive:  /content/worldnews-on-reddit.zip
  inflating: reddit_worldnews_start_to_2016-11-22.csv

In [ ]:
df=pd.read_csv('/content/reddit_worldnews_start_to_2016-11-22.csv')

In [ ]:
df.head()

,time_created,date_created,up_votes,down_votes,title,over_18,author,subreddit
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews

In [ ]:
news_titles=df['title'].values

In [ ]:
news_titles

array(['Scores killed in Pakistan clashes',
       'Japan resumes refuelling mission',
       'US presses Egypt on Gaza border', ...,
       'Professor receives Arab Researchers Award',
       'Nigel Farage attacks response to Trump ambassador tweet',
       'Palestinian wielding knife shot dead in West Bank: Israel police'],
      dtype=object)

In [ ]:
df.shape

(509236, 8)

In [ ]:
new_vec= [nltk.word_tokenize(title) for title in news_titles]

In [ ]:
new_vec[0]

['Scores', 'killed', 'in', 'Pakistan', 'clashes']

In [ ]:
model=Word2Vec(new_vec,min_count=1,size=32)

In [ ]:
model.wv.most_similar('man')

[('woman', 0.9661423563957214),
 ('girl', 0.9040107727050781),
 ('boy', 0.8995353579521179),
 ('mother', 0.8832370042800903),
 ('couple', 0.8828585743904114),
 ('teenager', 0.8617353439331055),
 ('father', 0.8608515858650208),
 ('doctor', 0.8601887226104736),
 ('husband', 0.8470828533172607),
 ('teacher', 0.8407119512557983)]

In [ ]:
 vec = model.wv['king'] - model.wv['man'] + model.wv['woman'] 
 model.wv.most_similar([vec])

[('king', 0.9212334752082825),
 ('prince', 0.77789306640625),
 ('politician', 0.7467420101165771),
 ('woman', 0.7337535619735718),
 ('King', 0.7121338844299316),
 ('royal', 0.7119842767715454),
 ('mayor', 0.7016267776489258),
 ('blogger', 0.691456139087677),
 ('cleric', 0.6880699396133423),
 ('girl', 0.6832581162452698)]